
<section class="section bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="h3 text-uppercase">Get the app</div><br>
                <p class="">
                    <button type="submit" class="btn btn-main btn-md">Download the App</button>
                </p>
                <br>
                <div class="sl-social">
                    <a href=""><span class="sl-social-item fb">Facebook</span></a>
                    <a href=""><span class="sl-social-item tw">Twitter</span></a>
                    <a href=""><span class="sl-social-item in">In</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="sl-footer section bg-white">
    <div class="container text-center">
        Copyright © 2015 Faircare.<br>
        All Rights Reserved.
    </div>
    <button id="toTop"></button>
</footer>
<div class="overlay-loader">
    <div class="ball-beat">
        <svg width="60" height="20" viewBox="0 0 120 30" xmlns="http://www.w3.org/2000/svg" fill="#fff">
            <circle cx="15" cy="15" r="12.7508">
                <animate attributeName="r" from="15" to="15" begin="0s" dur="0.8s" values="15;9;15" calcMode="linear" repeatCount="indefinite"></animate>
                <animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.8s" values="1;.5;1" calcMode="linear" repeatCount="indefinite"></animate>
            </circle>
            <circle cx="60" cy="15" r="11.2492" fill-opacity="0.3">
                <animate attributeName="r" from="9" to="9" begin="0s" dur="0.8s" values="9;15;9" calcMode="linear" repeatCount="indefinite"></animate>
                <animate attributeName="fill-opacity" from="0.5" to="0.5" begin="0s" dur="0.8s" values=".5;1;.5" calcMode="linear" repeatCount="indefinite"></animate>
            </circle>
            <circle cx="105" cy="15" r="12.7508">
                <animate attributeName="r" from="15" to="15" begin="0s" dur="0.8s" values="15;9;15" calcMode="linear" repeatCount="indefinite"></animate>
                <animate attributeName="fill-opacity" from="1" to="1" begin="0s" dur="0.8s" values="1;.5;1" calcMode="linear" repeatCount="indefinite"></animate>
            </circle>
        </svg>
        <br>
        <p class="p">Loading...</p>
    </div>

</div>