<div id="termsOfUse" class="sl-popup mfp-hide">
	<div class="sl-popup-topbar">
		<button type="button" class="btn-down"><img src="images/down-icon.png"></button>
		<button type="button" class="btn-close"><img src="images/cross-icon.png"></button>
	</div>
	<div class="sl-popup-body">
		<h3>TERMS OF USE</h3>
		<br>
		Welcome to Faircare.io, the easiest place find the best prices for medical procedures, the best doctors near you, and help others save money on medical expenses.<br>
PLEASE READ THESE TERMS OF USE CAREFULLY BEFORE USING THIS SITE. BY DOWNLOADING, ACCESSING OR USING ANY PART OF OUR WEBSITE AT WWW.FAIRECARE.IO (THE “SITE”) OR THE LOVELY APP (AS DEFINED HEREIN), YOU EXPRESSLY AGREE TO AND CONSENT TO BE BOUND BY (A) THE TERMS AND CONDITIONS OF THESE TERMS OF USE (THESE “TERMS OF USE” OR
“AGREEMENT”) AND (B) FAIRECARE’S PRIVACY NOTICE, FOUND HERE (THE “PRIVACY POLICY”). IF YOU VISIT THE SITE OR USE OR DOWNLOAD THE LOVELY APP, YOU EXPRESSLY ACCEPT THESE TERMS OF USE AND THE PRIVACY POLICY. YOU AGREE THAT THESE TERMS OF USE ARE SUPPORTED BY GOOD AND VALUABLE CONSIDERATION THE RECEIPT AND SUFFICIENCY OF WHICH YOU HEREBY ACKNOWLEDGE. SUCH CONSIDERATION INCLUDES, WITHOUT LIMITATION, YOUR USE OF THE SITE, THE LOVELY APP, AND THE MATERIALS AND INFORMATION AVAILABLE ON THE SAME AND THE POSSIBILITY OF PUBLICATION OR PUBLICITY OF YOUR “USER GENERATED CONTENT”.<br><br>
WE MAY MODIFY OR UPDATE THESE TERMS OF USE AT ANY TIME, IN OUR SOLE DISCRETION, AND SUCH MODIFICATION SHALL BE EFFECTIVE IMMEDIATELY UPON EITHER POSTING OF THE MODIFIED OR UPDATED TERMS OF USE OR NOTIFYING YOU. YOU AGREE TO REVIEW THESE TERMS OF USE PERIODICALLY TO ENSURE THAT YOU ARE AWARE OF ANY MODIFICATIONS OR UPDATES. YOUR CONTINUED ACCESS OR USE OF THE SITE AND/OR THE LOVELY APP SHALL BE<br>
DEEMED YOUR CONCLUSIVE ACCEPTANCE OF THE MODIFIED OR UPDATED TERMS OF USE.
<br><br>
GENERAL
<br>
Subject to your compliance with these Terms of Use, Lovely provides you with access to the Site, related data, and/or related services provided by Lovely (collectively, the “Site Services”) and Fairecare’s software, content, and related documentation and information through its mobile application (the “Lovely App” and collectively with the Site Services, the “Services”). Access to and use of the Services is governed by these Terms of Use and the Privacy Policy referenced herein.
<br><br>
SERVICES
<br>
The Services may also be provided through third party websites and/or applications either as a link from an add-on service to, or otherwise in connection with, websites and/or applications that such third parties control. Nothing contained in any of the Services is an offer or promise to sell a specific product for a specific price or a promise that any third party will sell any product or service for any purpose or price or on any specific terms. Lovely does not guarantee the price, terms, product, availability or services offered by any third party. Lovely is not responsible or
liable for any transactions between you and any of its advertisers or any other third parties, and is
not responsible for, and does not guarantee the price or performance of, any goods, services, or
information provided by these parties. If you have a dispute with one or more advertisers or other
third parties, you shall and hereby do release Lovely from any claims, demands, and damages
(actual and consequential) of every kind and nature, known and unknown, suspected and
unsuspected, disclosed and undisclosed, arising out of or in any way connected with such
disputes.llus aliquam nec. Sed tempor purus vitae quam rutrum elementum. Mauris quis nunc nec eros facilisis facilisis. Sed congue nunc tempor tortor porta, vitae auctor magna cursus. Ut facilisis, leo ut euismod vehicula, dui dolor imperdiet orci, at consectetur libero orci nec orci. Ut tincidunt non felis quis consequat.
<br>
Sed commodo nisi nisi, id mattis dui faucibus et. Vivamus ut mauris nec velit rhoncus faucibus. Quisque vel eros in nulla bibendum volutpat id sit amet sapien. Quisque vitae magna hendrerit, finibus tortor quis, finibus odio. Quisque pulvinar metus nisl, a placerat nisi imperdiet sit amet. Nam pellentesque pellentesque viverra. Curabitur aliquet metus nec quam sollicitudin blandit. Aliquam tempus id augue eu dapibus. Curabitur scelerisque leo libero, sit amet placerat neque dictum vitae. Quisque aliquet dolor vehicula enim luctus auctor. Proin sit amet turpis id elit lacinia commodo.
	</div>
</div>


<!-- Bottom script -->
<script type="text/javascript">

$(function(){
  
})

jQuery(function($) {
  $('.show-popup').magnificPopup({
	  type:'inline',
	  midClick: true,
	  showCloseBtn: false,
	  callbacks: {
	    open: function() {
	      $('.sl-popup-body').height($( window ).height()-120);
	    }
	  } 
	});

  $('.sl-popup .btn-close').on('click', function(){
    $.magnificPopup.close();
  });

});

</script>